.cards {
  /* section's class per code review */
  max-width: 880px;
}

.cards__list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  justify-items: center;
  list-style-type: none;
  margin-top: 0; /* zeroing out the <ul> tag browser default values */
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
