/* this contains all the 'things' in the card */
.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 282px;
  border-radius: 10px 10px 10px 10px; /* four corners rounded per code review */
  overflow: hidden;
}

/* the card img */
.card__image {
  display: block; /* per code review for removing default inline-block behavior*/
  height: 282px;
  width: 282px;
}

/* cards__footer contains the elements below it... */
.card__footer {
  display: flex;
  color: #000;
  background-color: #fff; /* applied bg-color per code review */
}

.card__caption {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  margin: 25px 0 25px 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 100%;
  /*width: auto;*/
}

/*this is a button in the shape of a heart */
.card__heart {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  margin-right: 20px;
  cursor: pointer; /* percode review */
}

.card__heart:hover {
  opacity: 0.5;
}
