/* this contains all the 'things' in the card */
.card {
  display: flexbox;
  flex-direction: column;
  /*display: grid;*/
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  justify-items: center;
  max-width: 880px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 282px;
  /*background-color: #fff;*/ /* applied bg-color to cards__footer instead */
  border-radius: 10px;
  overflow: hidden;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/* the card img */
.card__image {
  display: block; /* per code review for removing default inline-block behavior*/
  height: 282px;
  width: 282px;
}

/* cards__footer contains the elements below it... */
.card__footer {
  display: flex;
  color: #000;
  background-color: #fff; /* applied bg-color per code review */
}

.card__caption {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  margin: 25px 0 25px 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 100%;
  /*width: auto;*/
}

/*this is a button in the shape of a heart */
.card__heart {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  margin-right: 20px;
}

.card__heart:hover {
  opacity: 0.5;
}

/* Media Queries below */
