.footer {
  margin: 0 auto;
}

.footer__copywrite {
  margin: 0;
  padding-bottom: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding-top: 67px;
}
