.header {
  max-width: 880px;
  margin: 45px 0 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px; /* per code review */
}

.header__logo {
  width: 173px; /* Desktop dimension values per Figma design */
  height: 33px;
}

/* Media Query */
@media screen and (max-width: 595px) {
  .header__logo {
    width: 126px; /* mobile dimension values per Figma design */
    height: 24px;
  }

  .header {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 0;
    padding-bottom: 32px; /* per Figma design for mobile version */
    padding-left: 27px; /* per Figma design for mobile version */
  }
}
