.modal {
  /* for establishing a shaded layer to see x button and container */
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  visibility: hidden; /* display: none; doesn't work with transition property */
  padding: 0 19px;
  border: none; /* per code review */
  opacity: 0;
  transition: visibility 0s ease 0.6s, opacity 0.6s ease;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
/* modal container for edit-form and new place modals */
.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
  /*box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);*/
  border: none; /* per code review */
}

/* modifier class just for 'blown-up' card modal. Parent container of .modal__close (x icon) among other children tags */
/*associated html loc:131 which contains modal__close button loc:135  loc:49 css*/
.modal__container-card {
  position: relative;
  /*padding: 366px;*/
  margin: auto;
  width: 430px;
  height: auto;
  top: 115px;
}

/* modifier class */
.modal_opened {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

/* x icon button for closing modal */
.modal__close {
  width: 40px;
  height: 40px;
  background-image: url("../images/CloseIcon.svg");
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  transition: opacity 0.4s;
  /*top: calc(100% + -5px);
  left: calc(100% + 5px);*/
  top: -42px;
  right: -42px;
}

.modal__image-card {
  /* to give the blown up image fixed dimensions loc:110 html */
  max-width: 100%;
  max-height: 540px;
  /*position: absolute; */
  margin: auto;
}

.modal__caption-card {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #fff;
  /*margin: 10px 0 0;*/
  margin: auto;
  text-align: left;
  padding: 10px 0;
  position: absolute;
  bottom: auto;
  /*left: 250px; this property setting was over-riding the text-align: left; loc:85 */
  background-color: transparent;
}

.modal__close:hover {
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

.modal__heading {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.modal__input {
  /* inputSelector: validationOptions object's property */

  margin-bottom: 47px;
  margin-top: 20px;
  border: none; /* per code review */
  border-bottom: 1px solid #000000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  padding: 20;
  width: 100%;
}

.modal__input_type_error {
  border-bottom: solid 1px #ff0000;
}

/*Save and Create modal buttons*/
.modal__button {
  height: 50px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  margin-top: 18px;
  padding: 0;
  cursor: pointer;
  margin-bottom: 36.51px;
}

.modal__button:hover:not(:disabled) {
  /* 1st way */
  /*disabled button shouldn't have hover state*/
  /*selects not disabled hovered button*/
  opacity: 0.8;
}

/* new classes start */
.modal__error {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #ff0000;
  margin-top: 5px;
  margin-bottom: 13px;
  position: absolute;
  top: 50px;
  left: 0;
}

.model__error-visible {
  display: block;
}

.modal__label {
  position: relative;
}

.modal__button_disabled {
  /* inactiveButtonClass: validationOptions object's property */
  background-color: #e5e5e5;
  cursor: not-allowed;
  border: none;
}
/* new classes end */

@media screen and (min-width: 320px) and (max-width: 700px) {
  .modal__container {
    max-height: 300px;
    max-width: 100%;
  }

  .modal__image-card {
    max-width: 100%;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: calc(100% - 130px);
    margin-bottom: 13px;
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
  }
}
