.modal {
  /* for establishing a shaded layer to see x button and container */
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  display: none;
  padding: 0 19px;
  border: none; /* per code review */
}

.modal_opened {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border: none; /* per code review */
}

.modal__image-card {
  /* to give the blown up image fixed dimensions loc:110 html */
  max-width: 800px;
  max-height: 800px;
}

.modal__close {
  width: 40px;
  height: 40px;
  background-image: url("../images/CloseIcon.svg");
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  cursor: pointer;
  bottom: calc(
    100% + 5px
  ); /* 100% + 5px higher in relation to its container... */
  left: calc(
    100% + 5px
  ); /* 100% + 5px more from the left in relation to its container... */
}

.modal__close:hover {
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

.modal__heading {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.modal__form-input {
  border: none;
  border-bottom: 1px solid #000000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.form__input {
  margin-bottom: 57.08px;
  border: none; /* per code review */
  border-top: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.modal__button {
  height: 50px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  margin-top: 18px;
  padding: 0;
  cursor: pointer;
  margin-bottom: 36.51px;
}

.modal__button:hover {
  opacity: 0.8;
}

/* x, y coords for <button class="modal__close" id="card-image-close"></button>*/
#card-image-close {
  top: 120px;
  left: 1300px;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: calc(100% - 30px);
    margin-bottom: 13px;
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
  }
}
